@media screen and (max-width: 768px) {
  /* 移动端适配 */
  .markdown-section {
    max-width: none;
    padding: 16px;
  }
  /* 改变原来按钮热区大小 */
  .sidebar-toggle {
    padding: 0 0 10px 10px;
  }
  /* my pin */
  .sidebar-pin {
    appearance: none;
    outline: none;
    position: fixed;
    bottom: 0;
    border: none;
    width: 40px;
    height: 40px;
    background: transparent;
  }
}
