.sidebar-nav > ul > li ul {
  display: none;
}

.app-sub-sidebar {
  display: none;
}

.app-sub-sidebar.open {
  display: block;
}

.sidebar-nav .open > ul:not(.app-sub-sidebar),
.sidebar-nav .active > ul {
  display: block;
}

.active + ul.app-sub-sidebar {
  display: block;
}
